.footWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: var(--bgTopNavigation);
    color: var(--fontColBtnBuy);
    font-size: small;
    margin-top: 10px;
    width: 100%;

    .leftSide {
        flex: 1;
        min-width: 50px;
    }

    .rightSide {
        margin-left: auto;
        margin-right: 1rem;
        min-width: 50px;
    }

    .contact p,
    .rightSide p {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin: 0;
        font-size: 0.95rem;
    }

}

@media (max-width: 400px) {
    .footWrapper {
        font-size: 0.85rem;
        padding: 0.5rem;
    }
}