/* Katergorigrupper */
.categoryGroup {
  display: flex;
  justify-content: start;
  margin: clamp(.1rem, 2vw, 2rem);
}

.tabs {
  font-size: clamp(0.875rem, 2vw, 1.25rem);
  font-weight: 600;
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1800px;
  width: 100%;
  color: var(--fontColBtnBuy);
}

.tabButton:hover {
  background-color: #bbb;
}

/* Lista */
.categoryList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  margin: 1rem;
  gap: 5px;

  a.href {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img.product {
      margin: .3rem 0;
      width: clamp(8%, 4vw, 16%);
      height: auto;
      object-fit: cover;
    }
  }

  li.home,
  li.computing,
  li.vehicle,
  li.beauty,
  li.woman,
  li.men,
  li.sports {
    list-style-type: none;
    padding: 5px;
    border: 1px solid var(--bgBtnBuyHover);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 80px;
  }

  li.home:hover,
  li.computing:hover,
  li.vehicle:hover,
  li.beauty:hover,
  li.woman:hover,
  li.men:hover,
  li.sports:hover {
    background-color: rgb(179, 167, 147);
    color: black;
  }

  li.beauty {
    img.product {
      width: 25%;
    }
  }

  li.woman {
    img.product {
      width: 25%;
    }
  }

  p.paraD {
    margin-top: auto;
  }
}

.laptops {
  white-space: nowrap;
  font-size: .8rem;
  text-align: center;
}

.category,
.kitchen_accessories,
.mobile_accessories,
.beauty {
  font-size: .8rem;
  text-align: center;
  white-space: nowrap;
}